@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #5b5859;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    /* Adicionando a fonte */
}

.navbar {
    background-color: #303131;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 33px 20px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
}

.navbar .back-button {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #4CAF50;
    border-radius: 5px;
    border: none;
    margin-right: 30px;
}

.navbar .back-button:hover {
    background-color: #45a049;
}

/* Estilo para o contêiner dos itens do carrinho */
.carrinho-container {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
    padding: 20px 10px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 6px 6px 22px 2px black;
    margin-top: 20px;
}

/* Estilo para cada item do carrinho */
.carrinho-item {
    max-width: 100%;
    padding-bottom: 20px;
    /* Espaçamento adicional para separar os itens */
    text-align: left;
    /* Alinhar texto à esquerda */
    display: flex;
    /* Mudar para flexbox para alinhar itens na coluna */
    align-items: center;
    /* Alinhar itens verticalmente */
    justify-content: space-between;
    /* Distribuir o espaço entre os itens */
    border-bottom: 1px solid #ccc;
    /* Adiciona uma linha entre cada item */
}

/* Estilo para o título */
.title {
    background-color: rgba(255, 255, 255, 0.4);
    /* Adaptação da cor de fundo */
    width: 103%;
    /* Usando toda a largura */
    padding: 20px 0;
    /* Espaçamento interno superior e inferior */
    text-align: center;
    color: #333;
    box-shadow: 6px 6px 22px 2px black;
    border-radius: 10px;
    margin-bottom: 40px;
    /* Adicionando margem inferior para separar do próximo conteúdo */
}

/* Estilo para o texto dentro de cada item do carrinho */
.carrinho-item p {
    font-size: 15px;
    color: #333;
    margin-right: 20px;
    /* Espaçamento à direita */
}

.remove-button {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #4CAF50;
    /* Verde */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.back-button:hover {
    background-color: #45a049;
}